<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        {% block meta %} {% endblock %}
        <title>
            {% block title %} ? {% endblock %} pyblog
        </title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/vue.min.js"></script>
        {% block beforehead %} {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-menu1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-bold"></i></a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-menu1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">iOS<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">GIT</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Shell
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Perl</a></li>
                                <li><a href="#">Python</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Javascript</a></li>
                            </ul>
                        </li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                        <div class="nav navbar-nav navbar-right">

                                {% if user %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger">{{ user.name }}</button>
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="/logout">logout</a></li>
                                </ul>
                                {% else %}
                                <div class="nav navbar-nav btn-group" role="group" aria-label="...">
                                    <!-- <button type="button" > -->
                                        <a href="/signin" class="btn btn-success"><i class="glyphicon glyphicon-log-in"></i> 登陆</a>
                                    <!-- </button> -->
                                    <!-- <button type="button" > -->
                                        <a href="/register" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> 注册</a>
                                    <!-- </button> -->
                                </div>
                                {% endif %}

                        </div>

                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">

                    {% block content %}
                    {% endblock %}

        </div>
        <hr />
        <footer class="text-center">
            <p>
                <a target="_blank" href="#" class=""></a>
                <a target="_blank" href="#" class=""></a>
                <a target="_blank" href="#" class=""></a>
                <a target="_blank" href="#" class=""></a>
            </p>

            <div class="">
                <p>Powered by <a href="#">pyblog</a>. Copyright &copy; 2017. [<a href="/manage/" target="_blank">Manage</a>]</p>
                <p><a href="http://www.github.com/" target="_blank">www.github.com</a>. All rights reserved.</p>
                <a target="_blank" href="#"><i class="uk-icon-html5" style="font-size:64px; color #444;"></i></a>
            </div>
        </footer>
        
    </body>
</html>