{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block content %}
<div class="col-md-8">
    {% for blog in blogs %}
    <article class="uk-article">
        <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
        <p class="uk-article-meta">发表于{{ blog.created|datetime }}</p>
        <p>{{ blog.summary }}</p>
        <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
    </article>
    <hr />
    {% endfor %}
</div>

<div class="col-md-3 col-md-offset-1">
        <h4>链接</h3>
        <ul class="class="list-unstyled"">
            <li><i class="glyphicon glyphicon-align-left"></i><a target="_blank" href="#"> 编程</a></li>
            <li><i class="glyphicon glyphicon-list-alt"></i><a target="_blcnk" href="#"> 读书</a></li>
            <li><i class="glyphicon glyphicon-star"></i><a target="_blank" href="#"> git</a></li>
        </ul>

</div>

{% endblock %}